<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<base href="/">
<meta name="fragment" content="!">
<meta charset="UTF-8">

<title></title>

<link rel="stylesheet" href="css/main.css">
</head>

<body>
<div ng-view></div>

<!-- build:js js/main.js -->
<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<!-- endbower -->
<script src="js/main.js"></script>
<!-- endbuild -->
</body>
</html>
